* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1e1e1e;
}

.main-container {
    width: 1100px;
    margin: 0 auto;

}

.group-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 24px 0;
}

.group-sidebar {
    display: none;
}

.logo img {
    width: 150px;
    /* margin-left: 170px; */
}

nav ul {
    display: none;          /* display menjadi hide dulu pertama kali  */
    list-style: none;
    text-decoration: none;
    gap: 48px;
}

nav ul li a {
    text-decoration: none;
    color: #1e1e1e;
}


/* SECTION group-about2 */

.deskripsi {
    width: 100%;
}

.gambarDepan {
    width: 100%;
}

.btn {
    padding: 12px 32px 12px 32px;
    background: #284B63;
    border: 1px solid transparent;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 24px;
    color: #f5f5f5;
}


/* SECTION footer-nav */
footer {
    /* position: fixed; */
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 24px 0 24px;
    background-color: #FFF6D4; /* Contoh warna background */
    color: #1e1e1e; /* Contoh warna teks */
    text-align: center;
}

.group-footer {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 24px 0px 10px;

}

.footer-nav ul, li {
    display: grid;
    justify-content: center;

}


/* RESPONSIVE HERE */
@media only screen and (min-width: 375px) {

    .main-container {
        max-width: 345px;
        margin: 0 auto;
        /* border: solid 1px; */
    
    }


    /* SECTION SIDEBAR */
    .group-sidebar {
        display: flex;
        justify-content: right;
        
    }
    
    #toggle {
        display: none;
    }

    .hamburger-menu {
        font-size: 18px;
        cursor: pointer;
        top: 20px;
        right: 20px;
        z-index: 2;
        /* background-color: #111;
        color: white; */
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
    }

    .sidebar {
        height: 27%;
        width: 200px;
        position: absolute;
        z-index: 1;
        background-color: #FFF6D4;
        overflow-x: hidden;
        padding-top: 60px;
        display: none;
        border-radius: 5px;
    }

    #toggle:checked ~ .sidebar {
        display: block;
        position: absolute;


    }

    .sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 14px;
        color: #1e1e1e;
        display: block;
    }

    .sidebar a:hover {
        background-color: #f0cf57;
    }

    /* .sidebar .closebtn {
        position: absolute;
        top: 0;
        left: 25px;
        font-size: 36px;
        cursor: pointer;
        color: red;
    } */
   
    


    /* SECTION FORMULIR */

    .form {
        margin-top: 24px;
    }

    label {
        font-size: 14px;
    }

    input {
        width: 100%;
        height: 28px;
    }

    textarea {
        width: 100%;
        height: 81px;
    }

    .iniButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        padding: 10px 140px 10px 140px;
        background: #284B63;
        border: 1px solid transparent;
        border-radius: 24px;
        cursor: pointer;
        margin-top: 24px;
        color: #f5f5f5;
    }


    /* SECTION FOOTER */
    #footer {
        padding: 24px 0 24px;
        margin-top: 40px;
        background-color: #FFF6D4; 
    }


    .group-footer {
        display: grid;
        justify-content: center;
    }

    .logoAtFooter {
        text-align: center;
    }

    .footer-nav {
        margin-top: 16px;
    }

    .footer-nav ul {
        display: flex;
        gap: 24px;
        text-align: center;
    }

    .footer-nav ul li {
        list-style: none;
        font-weight: 500;
    }

    .footer-nav ul li a {
        text-decoration: none;
        color: #1e1e1e;
        font-size: 12px;
    }
}



@media only screen and (min-width: 768px) {

    .main-container {
        max-width: 768px;
        margin: 0 auto;
    
    }

    .group-nav {
        display: flex;
        justify-content:space-between;
        /* gap: 500px; */
        align-items: center;
        padding: 24px 0;
    }

    nav ul {
        display: flex;          /* display menjadi visible */
        list-style: none;
        text-decoration: none;
        gap: 24px;
    }

    nav ul li {
        font-size: 14px;
    }

    .group-sidebar {
        display: none;
    }



    /* SECTION FORMULIR */

    .form {
        margin-top: 24px;
        padding: 24px;
    }

    label {
        font-size: 14px;
    }

    input {
        width: 100%;
        height: 32px;
    }

    textarea {
        width: 100%;
        height: 96px;
    }

    .iniButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        padding: 16px 340px 16px 340px;
        background: #284B63;
        border: 1px solid transparent;
        border-radius: 24px;
        cursor: pointer;
        margin-top: 24px;
        color: #f5f5f5;
    }


    /* SECTION FOOTER */
    #footer {
        padding: 24px 0 24px;
        margin-top: 40px;
        background-color: #FFF6D4; 
    }


    .group-footer {
        display: flex;
        justify-content: space-between;
    }

    .logoAtFooter {
        text-align: center;
    }

    .footer-nav {
        margin-top: 16px;
    }

    .footer-nav ul {
        display: grid;
        gap: 24px;
        text-align: left;
    }

    .footer-nav ul li {
        list-style: none;
        font-weight: 500;
    }

    .footer-nav ul li a {
        text-decoration: none;
        color: #1e1e1e;
        font-size: 14px;
    }

}

@media only screen and (min-width: 1000px) {

    .main-container {
        max-width: 1100px;
        margin: 0 auto;
    
    }

    nav ul {
        display: flex;          /* display menjadi visible */
        list-style: none;
        text-decoration: none;
        gap: 32px;
    }

    nav ul li {
        font-size: 16px;
    }

    .front-img2 img {
        width: 100%;
        height: 420px;
    }


    /* SECTION FORMULIR */

    /* .form {
        margin-top: 24px;
        padding: 24px;
    } */

    label {
        font-size: 14px;
    }

    input {
        width: 512px;
        height: 32px;
    }

    textarea {
        width: 100%;
        height: 96px;
    }

    .iniButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .group-formulir {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn {
        padding: 16px 240px 16px 240px;
        background: #284B63;
        border: 1px solid transparent;
        border-radius: 24px;
        cursor: pointer;
        margin-top: 24px;
        color: #f5f5f5;
    
    }


    /* SECTION FOOTER */
    #footer {
        padding: 24px 0 24px;
        margin-top: 40px;
        background-color: #FFF6D4; 
    }


    .group-footer {
        display: flex;
        justify-content: space-between;
    }

    .logoAtFooter {
        text-align: center;
    }

    .footer-nav {
        margin-top: 16px;
    }

    .footer-nav ul {
        display: grid;
        gap: 24px;
        text-align: left;
    }

    .footer-nav ul li {
        list-style: none;
        font-weight: 500;
    }

    .footer-nav ul li a {
        text-decoration: none;
        color: #1e1e1e;
        font-size: 14px;
    }


}